.button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  background: steelblue;
  color: white;
  font-size: 18px;
}

.numberInput {
  font-size: 18px;
  padding: 5px;
  max-width: 3em;
  margin: 10px;
}